body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
header{
    background-color: #A6B8A7;
} 
footer{
    background-color: #A6B8A7;
    margin-top: 1em;
    padding: 1em;
    
}
h1{
    color: #08415c; 
    background-color:  #A6B8A7;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A6B8A7;
}
#navitem{
    display: inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
}
a{
    text-decoration: none;
    color: #08415c;
}

#navitem:hover{
    background-color: #8da98f;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mainimg{
    margin-left: 20em;
}

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



@media (min-width: 500px) {
    
  }