/* main elements */
.carousel-item{
    height: 400px;
}
.carousel-item img{
    height: 400px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 100vh;
    background-color:#f7f4ea ;
}
a:link{
    color:#08415c
}
main{
    margin:1em;

}

html {
    scroll-behavior: smooth;
}

header{
    background-color: #A6B8A7;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #69746d;
    padding: 1em;
} 

footer {
    background-color: #A6B8A7;
    margin-top: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #69746d;
    
}

h1{
    color: #08415c; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    font-size: 75px;
}

/* just adds a little extra spacing to all lists */
li{
    margin: 1.5em;
}

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


/* nav bar  */
 
/* toggler color */
.navbar-light .navbar-toggler{
    background-color:#08415c;
}

/* brand and text color */
.navbar-light .navbar-brand{
    color:#08415c !important;
}

/* color for nav item text */
.navbar-light .navbar-nav .nav-item .nav-link{
    color:#08415c !important;
    border-radius: 12px;

}

/* color for when hovering over */
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    background-color: #8da98f;
}

/* main page layout */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* main class layout stuff */
.homemain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

}

/* Contains search bar and movie lover gif */
#topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* images */

/* main page gif image */
#gifimg{
    display: flex;
    padding-top: 1em;
}

/* container for gif when you search */
.searchgif, #speechdiv{
    display: flex;
    flex-direction: column;
    

    background-color:#A6B8A7;
    color: #08415c;
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #69746d;    
}

/* For speech bubble */
#speechbubble {
    text-align: center;
}



/* about page */

/* main on about page */ 
.aboutmain{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* each section in about page has margins around it (3 sections) */
section{
    margin: 3em;
}

/* switches flex to row direction */
.aboutrow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 3em;
    
}


/* box for sections in about page */
.aboutparagraph{
    background-color:#A6B8A7;
    padding: 5em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #69746d;     
    display:block;
    margin: 1.5em;
    
}

/* about page button */
  button, #contactbutton{
    background-color: #08415c;
    color: #FFE7E7;
    padding: 0.5em;
    border-radius: 10px;
  }
  button:hover, #contactbutton:hover{
    background-color: #1574a1;
  }

/* about creators image */
#aboutimg {
    display: flex;
    justify-content: center;
}


/* contact page */
.contactmain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* fixes layout of history names and imgs */
#historyList{
    display: grid;
    grid-template-columns: .5fr .5fr;
    margin:0;
}
 
 #historyList li{
    background-color: #08415c;
    color: white;
    padding: 1em;
    border-radius: 10px;
}

/* Gallery style */

#movieGIFs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-caption{
 
    background-color:#08415c;
    padding:0;

}

/* different layout for size  */
@media (max-width: 800px) {
    .navlist{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-size: 40px;
    }

    .homemain {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #topbar {
        flex-direction: column;
    }
    .aboutrow {
        flex-direction: column;
        align-items: center;
    }
    #aboutparagraph {
        max-width: 90%;
    }
    #aboutparagraph img {
        object-fit: contain;
    }
    .aboutrow img{
        object-fit: contain;
    }

    #aboutparagraph #list{
        max-width: 100%;
        display: inline;
    }
    img{
        object-fit: contain;
        max-width: 100%;
    }

  }

